@font-face {
    font-family: 'Expressway';
    src: url('expressway rg.ttf') format('truetype');
} 

body {
    color: white;
    background-image: url("stars.jpg"); 
    margin: 0px;
    padding: 0px;
    background-size: 100%;
    font-family: Expressway;
}

#header {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

#view_search {
    margin: auto;
    border: 2px white solid;
    background-color: gray;
    width: 50%;
    padding: 10px;
    top: 15%;
    text-align: center;
} 

.notes {
    color: gray;
    font-size: 10px;
    display: block;
    text-align: left;
    padding-left: 37%;
}

form {
    color:  #900C3F;
    padding: 5px;
    text-align: center;
    font-family: Expressway;
}

#home {
    text-align: right;
    color: yellow;
    margin: 0px;
    border-bottom: 1px solid #1FC600;  
}

input {
    background-color: #d0ceb9;
    margin: 10 0 0 0;
    padding: 3px;
    font-family: Expressway;
    border: 1px solid #1FC600;
}

::-moz-placeholder {
    font-style: italic;
}

.submit {
    margin: auto;
    margin-top: 10px;
}

.submit:hover {
    background-color: yellow;
    color: green;
}

#update {
    background-color: black;
    width: 90%;
    margin: 20px auto;
    padding: 5px;
    border-top: 1px solid gray;
}

#results {
    background-color: black;
    text-align: center;
    border: 1px solid #1FC600;
    margin: 70px auto;
    padding: 20px;
    width: 70%;
}

#results_txt {
    margin: 0px;
    padding: 3px;
}

table {
    margin: 10px auto;
    background-color: black;
    border-collapse: collapse;
    border-collapse: collapse;
}

#data th, td {
    padding: 2px;
    border: 2px solid gray;
    font-size: 1.50vw;
}

p {
    color: #FFE37B;
}

.search_msg, .update_msg {
    color:red;
}

.update_success {
    color: #1FC600;
}

